.sidebar {
  flex: 3;
  background-color: rgba(196, 192, 190, 0.062);
  margin: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTitles {
  border-top: 1px solid #a4a7a7;
  border-bottom: 1px solid #a4a7a7;
  margin: 10px;
  padding: 5px;
  width: 80%;
  font-size: 15px;
  font-weight: 500;
  color: #222;
  line-height: 15px;
  text-align: center;
  font-family: "Varela Round", sans-serif;
}

.aboutMeImg {
  width: 80%;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.aboutMeDescription {
  padding: 20px;
  text-align: justify;
}

.sidebarList {
  list-style-type: none;
  margin-bottom: 20px;
}

.sidebarListItem {
  /* Inline-block kelyamule aapan tyanna grid sarakh gheu shakato i.e inline theun width deu shakato. */
  display: inline-block;
  width: 50%;
  margin-top: 10px;
  cursor: pointer;
}

.sidebarSocialIcons {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.sidebarIconPadding {
  margin-left: 10px;
  font-size: 15px;
  color: rgb(154, 62, 62);
  cursor: pointer;
}
